.container {
  width: min(600px, 100%);
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  background-color: #f8d4a1;
  z-index: 8000;
}

.logo {
  font-size: 26px;
  margin-right: 10px;
  font-weight: 700;
  color: #402601;
}

.backButton {
  font-size: 16spx;
  margin-right: 10px;
  color: #402601;
  z-index: 8001;
}
