$green-light: #e6ffeb;
$green-light-hover: #d9ffda;
$green-light-active: #b9ffb0;
$green-normal: #00ff48;
$green-normal-hover: #00e623;
$green-normal-active: #00cc25;
$green-dark: #00bf1d;
$green-dark-hover: #009914;
$green-dark-active: #007315;
$green-darker: #005916;

$gray-light: #f5f7f7;
$gray-light-hover: #f0f1f3;
$gray-light-active: #e0e2e6;
$gray-normal: #9ca3af;
$gray-normal-hover: #8c939e;
$gray-normal-active: #7d828c;
$gray-dark: #757a83;
$gray-dark-hover: #5e6269;
$gray-dark-active: #46494f;
$gray-darker: #37393d;

$black-b50: #e7ebef;
$black-b75: #9da0a6;
$black-b100: #757982;
$black-b200: #393f4c;
$black-b400: #111827;
$black-b500: #0a0f18;
