.body {
  width: min(600px, 100%);
  position: relative;
  padding: 100px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffedd4;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 246, 232);
  height: 300px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    font-size: 24px;
    font-weight: 700;
    margin: 12px 0;
  }

  .edit {
    font-size: 16px;
    color: #402601;
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: #f1d9b7;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
